# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.0
# Updated: 27-03-2024
# Location: wpf
# Distribution: Frameworks

##########################################
# Code Analyzers Rules
##########################################
[*.{cs}]

dotnet_diagnostic.MA0004.severity = error           # Use Task.ConfigureAwait(false) https://github.com/meziantou/Meziantou.Analyzer/blob/main/docs/Rules/MA0004.md
dotnet_diagnostic.MA0048.severity = none            # To support partial classes - File will not match type name.

##########################################
# Custom - Code Analyzers Rules
##########################################

dotnet_diagnostic.MA0049.severity = none            # Type name should not match containing namespace (https://github.com/meziantou/Meziantou.Analyzer/blob/main/docs/Rules/MA0049.md)

dotnet_diagnostic.S4487.severity = none             #

dotnet_diagnostic.CA1724.severity = none            #

dotnet_diagnostic.IDE0052.severity = none           #