# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.9
# Updated: 14-03-2024
# Location: src/KL.Device.Communication.Domain.Azure.IotEdge.Client
# Distribution: DotNet8
# Inspired by: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

##########################################
# Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

##########################################
# Custom - Code Analyzers Rules
##########################################

dotnet_diagnostic.CA1062.severity = none            # Validate arguments of public methods